# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
**/build/

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/engine/
ios/Flutter/ephemeral/
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
ios/Runner.xcuserstate

# Android
android/.gradle/
android/app/debug/

# 1C
1c_module.txt

android/app/profile/
android/app/release/
android/build/
android/local.properties

# macOS
macos/Flutter/ephemeral/
macos/Pods/
macos/.symlinks/
macos/build/

# Linux
linux/flutter/ephemeral/
linux/build/

# Windows
windows/flutter/ephemeral/
windows/build/

# Web
web/build/

# IDEs and editors
.idea/
*.iml
*.ipr
*.iws
*.sublime-workspace
*.sublime-project
.vscode/

# VS Code launch configs (optional, uncomment if you want to ignore)
#.vscode/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
